location ~ ^{{#alias}}/{{alias}}{{/alias}}/d/f/ {
	root /usr/syno/synoman;
	index index.cgi;

	rewrite {{#alias}}/{{alias}}{{/alias}}/d/f/([0-9a-zA-Z_]+\.(txt|cgi))$ {{#alias}}/{{alias}}{{/alias}}/$1 last;
	rewrite {{#alias}}/{{alias}}{{/alias}}/d/f/(webman|scripts|synoSDSjslib|synoSDSjslib-compatible-6.x|synohdpack|oauth|webapi)/(.*)$ {{#alias}}/{{alias}}{{/alias}}/$1/$2 last;
	rewrite {{#alias}}/{{alias}}{{/alias}}/d/f/([0-9a-zA-Z]+)$ /webapi/entry.cgi?api=SYNO.SynologyDrive.Shard&version=1&method=get&link_id="$1" break;

	{{> /usr/syno/share/nginx/cgi.pass}}
}

location ~ ^{{#alias}}/{{alias}}{{/alias}}/d/s/ {
	root /usr/syno/synoman;
	index index.cgi;

	rewrite {{#alias}}/{{alias}}{{/alias}}/d/s/([0-9a-zA-Z]+)/([0-9a-zA-Z_]+\.(txt|cgi))$ {{#alias}}/{{alias}}{{/alias}}/$2 last;
	rewrite {{#alias}}/{{alias}}{{/alias}}/d/s/([0-9a-zA-Z]+)/(webman|scripts|synoSDSjslib|synoSDSjslib-compatible-6.x|synohdpack|oauth|webapi|oo|sc)/(.*)$ {{#alias}}/{{alias}}{{/alias}}/$2/$3 last;
	rewrite {{#alias}}/{{alias}}{{/alias}}/d/s/([0-9a-zA-Z]+)/([^/]+)$ /webapi/entry.cgi?api=SYNO.SynologyDrive.Shard&version=1&method=get&link_id="$1"&sharing_link="$2" break;

	{{> /usr/syno/share/nginx/cgi.pass}}
}

{{#server}}
    {{> /usr/syno/share/nginx/X-Accel.mustache}}
{{/server}}

{{> /var/packages/Spreadsheet/target/etc/Spreadsheet.mustache?}}
{{> /usr/syno/share/nginx/cgi}}

